.page-wrap {
	margin: 0 auto;
	width: 75%;
	padding-right: 20px;
  padding-left: 20px;
	position: absolute;
  top:0;
  right:0;
  left:0;
	background-color: white;
  z-index: 1;
  opacity: 0.93;
}
#map {
  position:absolute; 
  top:0; 
  left:0; 
  bottom:0; 
  right: 0;
}
h1 {
	color: black;
	font-family: consolas;
	font-size: 38px;
	font-style: italic;
}
h3 {
	position: absolute;
	top:0px;
	right:0px;
	padding: 15px;
	font-size: 28px;
	font-style: italic;
}
img.logo {
      position: absolute;
      top:0px;
      right:0px;
      padding: 25px;
    }
html {
	background-color: white;
}
body {
	font-family: consolas;
	background: white; /* For browsers that do not support gradients */
	margin: 0 auto;
}
ul {
	font-family: consolas;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}
li {
	font-family: consolas;
    display: inline-block;
    width: 24%;
}
li.pics {
  display:inline-block;
  width:400px;
  padding: 0 20px 0 20px;
}
li.qual {
  display:block;
  width:100%;
  list-style-type: square;
}
a.one.home:link, a.one:visited {
    display: block;
    font-weight: bold;
    font-family: consolas;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.2em 0.6em;
    position:relative;
}
a.one.projects:link, a.one:visited {
    display: block;
    font-weight: bold;
    font-family: consolas;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.2em 0.6em;
    position:relative;
}
a.one.about:link, a.one:visited {
    display: block;
    font-weight: bold;
    font-family: consolas;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.2em 0.6em;
    position:relative;
}
a.one.contact:link, a.one:visited {
    display: block;
    font-weight: bold;
    font-family: consolas;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.2em 0.6em;
    position:relative;
}
a.two:link, a.two:visited {
    display: block;
    padding: 5px 5px;
}
a.one:hover {
    background-color: #5ab4ac;
}
.exp {
}
.mypics {
    float: right;
    margin: 0 0 10px 10px;
	width: 50%;
}
.nav {
	display: block;
	width: 100%;
}
.class1 {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	left: 150px;
	background: yellow;
	position: absolute;
	border:5px solid;
	border-color: black;
	top: 410px;
}
.space {
  position:relative;
  width:100%;
}
.ncmap {
	height: 400px;
	width: 100%;
	background-image: url("../img/ncmap.png");
	background-size: 800px 400px;
    background-repeat: no-repeat;
}
.ncmapprojects {
	background-size: 800px 400px;
	background-image: url("../img/ncmapprojects.png");
}
.ncmapabout {
	background-size: 800px 400px;
	background-image: url("../img/ncmapabout.png");
}
.ncmapcontact {
	background-size: 800px 400px;
	background-image: url("../img/ncmapcontact.png");
}
.button {
   border-top: 1px solid #e8ebed;
   background: #a88fbf;
   background: -webkit-gradient(linear, left top, left bottom, from(#753e9c), to(#a88fbf));
   background: -webkit-linear-gradient(top, #753e9c, #a88fbf);
   background: -moz-linear-gradient(top, #753e9c, #a88fbf);
   background: -ms-linear-gradient(top, #753e9c, #a88fbf);
   background: -o-linear-gradient(top, #753e9c, #a88fbf);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, consolas;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #642878;
   background: #642878;
   color: #ccc;
   }
.button:active {
   border-top-color: #411b5c;
   background: #411b5c;
   }